# ── Python ──
__pycache__/
.pytest_cache/
*.py[cod]

# ── colcon ──
build/
install/
log/

# ── dau ra cua cong cu ──
arucoMarkers/
vector_field_landing.png

user_interface/qt/index/map.html
user_interface/
user_interface/
user_interface.zip
./vscode 
px4_ros_com
scripts
robotics101
Robot_Fundamentals/
.vscode/

ground_gui/index/
script/Miniconda3-latest-Linux-aarch64.sh
ground_station_ui/config/keys.yaml
ground_station_ui/data/maps/*.mbtiles
